<div ng-controller="FngAuditHistCtrl">
    <div ng-class="css('rowFluid')" class="page-header list-header">
        <div class="header-lhs">
            <h1 >History for {{modelName}} {{id}}</h1>
        </div>
    </div>

    <div class="page-body list-body">
        <error-display></error-display>
        <div ng-class="css('rowFluid')">
            <a ng-repeat="change in changes" ng-href="{{buildHistUrl(change.url)}}">
                <div class="list-item">
                    <div ng-class="css('span',12)">{{ change.changedAt | date : 'yy-MM-dd HH:mm:ss' }} UTC <span ng-if="change.chg" title="{{ change.chg | json}}"> &lt;changes&gt; </span> &nbsp; {{ change.comment }} &nbsp;{{ change.userDesc || (change.user ? (' User: ' + change.user) : '' ) }}</div>
                </div>
            </a>
        </div>
        <div ng-class="css('rowFluid')" ng-show="inferCreate">
            <a ng-href="{{buildHistUrl('version/0')}}">
                <div class="list-item">
                    <div ng-class="css('span',12)">{{ createDate | date : 'yy-MM-dd HH:mm:ss' }} UTC created</div>
                </div>
            </a>
        </div>
    </div>
</div>

