<div ng-controller="FngAuditHistCtrl">
    <div ng-class="css('rowFluid')" class="page-header list-header">
        <div class="header-lhs">
            <h1 >History for {{modelName}} {{id}}</h1>
        </div>
    </div>

    <div class="page-body list-body">
        <error-display></error-display>
        <div ng-class="css('rowFluid')">
            <a ng-repeat="change in changes" ng-href="{{buildHistUrl(change)}}">
                <div class="list-item">
                    <div ng-class="css('span',12)">{{ change.comment }} {{ change.op }} {{ change.changedAt }} {{ userDesc(change) }}</div>
                </div>
            </a>
        </div>
    </div>
</div>

